*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html{
  font-size: 80%;  
}
.hamburger-menu{
    width: 3rem;
    height: 3rem;

    position: fixed;
    top: 5rem;
    right: 5rem;
    z-index: 200;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;

}
.line{
    width: 100%;
    height: 0.2rem;
    background-color: white;
    box-shadow: 0 0.1rem 0.2rem rgba(0,0,0,0.2) ;
}
.header{
    width: 100%;
    height: 100%;
    position: relative;
    perspective: 100rem ;
    
}
.img-wrapper {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    overflow: hidden;

}
.img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5; 
    animation-name: scale;
    animation-duration: 25s;
}

@keyframes scale {
    0%{
        transform: scale(1.3);
    }
    100% {
        transform: scale(1);
    }
}
.banner{
    position: absolute;
    font-size: 150%;
    top: 33%;
    
    left: 3%;
}

.banner h1{
font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
font-size: 7rem;
font-weight: 300;
color:blanchedalmond;
line-height: 9rem;
letter-spacing: 0.2rem;
text-shadow: 0 0.3rem 0.5rem rgba(0,0,0,0.4);

}
.banner p{
  font-family: "josefin Slab", serif;
  font-size: 2.5rem;
  color:ivory; 
  width: 70%;
  letter-spacing: 0.1rem;
 
}
.banner button{
width: 10rem;
height: 4rem;
top: 5%;
background-color: yellow;
left: 10%;
border: none;
font-family:serif;
font-size: 1.5rem;
font-weight: 300;
text-transform: uppercase;
color: black;
text-shadow: 0 0.2rem 0.4rem rgba(0,0,0,0.2);
box-shadow: 0 0.3rem 0.5rem rgba(0,0,0,0.4);
cursor: pointer;

}

@keyframes moveBanner{
    0%{
        transform: translateY(40rem) rotate(-20deg);
    }
    100%{
        transform: translateY(0) rotate(0);
        opacity: 1;
    }

}