*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html{
  font-size: 80%;  
}

.spinner-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #262626;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s;
  z-index: 300;
}

.display .spinner-container {
  opacity: 0;
  visibility: hidden;

}

.circles {
  width: 6rem;
  height: 5.5rem; 
  position: relative;
  opacity: 0;
  visibility: hidden;
  animation: displaycircles 3s;
}
@keyframes displaycircles {
  0% {
    opacity: 0;
    visibility: hidden;
  }

  25% {
    opacity:1;
    visibility:  visible;
  }

  90% {
    opacity: 1;
    visibility: visible;
  }

  100% {
    opacity: 0;
    visibility: hidden;
  }

}

.circles div {
  animation: circles 1.5s cubic-bezier(.5, 0, .5, 1) infinite;
  transform-origin: 4rem 4rem;
}
.circles div::after {
  content: "";
  position: absolute;
  width: 0.7rem;
  height: 0.5rem;
  border-radius: 50%;
  background-color: chocolate;
  margin: -2.5rem 0 0 -2.5rem;
}



 .circles div:nth-child(1) {
  animation-delay: -0.072s;
}

 .circles div:nth-child(1)::after
 {
  top: 6.8rem;
  left: 5.6rem;
 }

 .circles div:nth-child(2) {
  animation-delay: -0.108s;
}

 .circles div:nth-child(2)::after
 {
  top: 7.1rem;
  left: 4.8rem;
 }

 .circles div:nth-child(3) {
  animation-delay: -0.144s;
}

 .circles div:nth-child(3)::after
 {
  top: 7.2rem;
  left: 4rem;
 }

 .circles div:nth-child(4) {
  animation-delay: -0.18s;
}

 .circles div:nth-child(4)::after
 {
  top: 7.1rem;
  left: 3.2rem;
 }

 .circles div:nth-child(5) {
  animation-delay: -0.216s;
}


 .circles div:nth-child(5)::after
 {
  top: 6.8rem;
  left: 2.4rem;
 }

 


 @keyframes circles {
  0%{
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
 }


.container {
  display: none;
}

.display .container {
  display: block;
}


.hamburger-menu{
    width: 3rem;
    height: 3rem;
    
    position:fixed;
    top: 5rem;
    right: 5rem;
    z-index: 200;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
    transition:right 0.7s;

}
.change .hamburger-menu {
right: 20rem;
}
.line{
    width: 80%;
    height: 0.3rem;
    background-color: white;
    box-shadow: 0 0.1rem 0.2rem rgba(0,0,0,0.2) ;
}

.change .line{
  background-color:ivory ;  
}

.change .line-1 {
    transform: rotate(45deg) translate(0.3rem, 0.8rem);
  }
  
  .change .line-2 {
    opacity: 0;
    visibility: hidden;
  }
  
  .change .line-3 {
    transform: rotate(-45deg) translate(0.3rem, -0.8rem);
  }

  .hamburger-menu span {
  position: absolute;
  left: 3rem;
  width: 6rem;
  height: 3rem;
  background-color: darkorange;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s;
   
}
.change .hamburger-menu:hover span {
    opacity: 1;
    visibility: visible;
  }

.hamburger-menu span::before{
    content: "" ;
    position: absolute;
    border-left: 1rem solid transparent;
    border-right: 1rem solid darkorange;
    border-bottom: 1rem solid transparent ;
    border-top: 1rem solid transparent;
    top: 50%;
    left: -2rem;
    transform: translateY(-50%);

}


.header{
    width: 100%;
    height: 100%;
    position: relative;
    perspective: 100rem ;
    
}
.img-wrapper {
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.8);
    overflow:hidden;

}
.img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5; 
    animation-name: scale;
    animation-duration: 25s;
}

@keyframes scale {
    0%{
        transform: scale(1.3);
    }
    100% {
        transform: scale(1);
    }
}
.banner{
    position: absolute;
    font-size: 150%;
    top: 33%;
    
    left: 3%;
}

.banner h1{
font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif ;
font-size: 7rem;
font-weight: 300;
color:blanchedalmond;
line-height: 9rem;
letter-spacing: 0.2rem;
text-shadow: 0 0.3rem 0.5rem rgba(0,0,0,0.4);

}
.banner p{
  font-family: "josefin Slab", serif;
  font-size: 2.5rem;
  color:ivory; 
  width: 70%;
  letter-spacing: 0.1rem;
 
}
.banner button{
width: 10rem;
height: 4rem;
top: 5%;
background-color: burlywood;
left: 10%;
border: none;
font-family:serif;
font-size: 1.5rem;
font-weight: 300;
text-transform: uppercase;
color: black;
text-shadow: 0 0.2rem 0.4rem rgba(0,0,0,0.2);
box-shadow: 0 0.3rem 0.5rem rgba(0,0,0,0.4);
cursor: pointer;
animation: moveBanner 1s 0.9s;

}


@keyframes moveBanner{
    0%{
        transform: translateY(40rem) rotate(-20deg);
    }
    100%{
        transform: translateY(0) rotate(0);
        opacity: 1;
    }

}

.sidebar {
width: 25rem;
height: 100vh;
position: fixed;
top: 0;
right: -25rem;
background-color:teal;
transition: right 0.5s;
z-index: 100;
}
.change .sidebar{
    right: 0;
}

.menu {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.menu-item {
 text-align:left;
line-height: 3em;
font-weight: bold;
line-break: auto;
}

.menu-link{
    font-family: 'Courier New', Courier, monospace;
    font-size: 2.5rem;
    color: black;
    position: relative;
}
.menu-link::before{
    content: attr(data-content);
    position: absolute;
    top: 0;
    left: 0;
    color:darkorange;
    width: 0;
    overflow: hidden;
    white-space: nowrap;
    transition: width 0.3s ease-in-out;

    
}
.menu-link:hover::before{
    width: 100%;
}

.social-media {
    position: absolute;
    top: 30rem;
    bottom: 0rem;
    width: 100%;
    display: flex;
    justify-content:end;

}
.social-media i {
    font-size: 2.2rem;
    margin: 3rem;
    width: 3rem;
    height: 4.5rem;
    color:bisque;
    display:flex;
    justify-content: center;
    align-items:center;
    transition: background-color 0.3s;
}

.social-media i:hover {
    background-color: red;

}

.about-us{
    width: 100%;
    height: 80%;
    background-color: burlywood;
    padding-bottom: 8rem;

}

.section-header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5rem 0 5rem 0;
}
.section-heading{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4rem;
    font-weight: 300;
    color: teal;
    margin-bottom: 4rem;

}

.services {
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.service {
    width: 100%;
    margin-bottom: 2rem;
}
.service-header {
    display: flex;
    align-items: center;
    margin-bottom: 0.5rem;
    margin-right: 20rem;
}

.service-header h3{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
    font-weight: 300;
    margin-left: 45rem;
    color: maroon;

}
.service-text {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
    text-align:center;
    justify-content: center;
    letter-spacing: 0.1rem;
  }

  .team {
    background-color: ivory;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 5rem 20rem 5rem;
  }
  .text{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2.5rem;
    font-weight: 300;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.1rem;
  }  
  .cards-wrapper {
    display:flex;
    justify-content:space-evenly;
    margin-top: 6rem;
    width: 100%;
    height: 80%;
  }
  
  .card {
    width: 30rem;
    height: 40rem;
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 0.5rem;
    position: relative;
    justify-content: space-evenly;
  }
  
  .card-img-wrapper {
    width: 100%;
    height: 100%;
    background-color: #262626;
    border-radius: 0.5rem;
  }
  
  .card-img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.8;
    border-radius: 0.5rem;
    transition: opacity 0.3s;
  }
  
  .card:hover .card-img-wrapper img {
    opacity: 0.5;
  }
  
  .card-info {
    position: absolute;
    bottom: 0;
    padding: 2rem;
    text-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.4);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
  }
  
  .card:hover .card-info {
    bottom: 2rem;
    opacity: 1;
    visibility: visible;
  }
  
  .card-info h2 {
    font-family: "Baloo Da 2", serif;
    font-size: 2.0rem;
    line-height: 2.5rem;
    font-weight: 300;
    color: #eee;
  }
  
  .card-info h3 {
    font-family: "Muli", serif;
    font-size: 2rem;
    font-weight: 500;
    color:lawngreen;
    margin-bottom: 1rem;
  }
  
  .card-info p {
    font-family: "Baloo da 2", serif;
    font-size: 1.2rem;
    line-height: 1.6rem;
    font-weight: 300;
    color: #eee;
    width: 80%;
    margin-bottom: 2rem;
  }
  
  .card-info button {
    width: 10rem;
    height: 3rem;
    background-color: #c29525;
    border: none;
    font-family: "Baloo Da 2", serif;
    font-size: 1.4rem;
    line-height: 1.5rem;
    color: #eee;
    border-radius: 0.3rem;
    box-shadow: 0 0.1rem 0.8rem rgba(0, 0, 0, 0.4);
  }
  
.contact {
    width: 100%;
    height: 100vh;
    background-color: #272727;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .contact-wrapper {
    width: 50%;
    height: 30rem;
    display: flex;
    box-shadow: 0 3rem 7rem rgba(0, 0, 0, 0.5);
  }
  
  .contact-left {
    width: 35%;
    background: linear-gradient(rgba(15, 15, 15, 0.3), rgba(22, 22, 22, 0.3)),
      url(images/Bg-5.jpg) center no-repeat;
    background-size: cover;
  }
  
  .contact-right {
    width: 65%;
    background-color: #eee;
    padding: 3rem 10rem 10rem 10rem;
  }
  
  .contact-heading {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3rem;
    margin-left: 3rem;
    font-weight:bold;
    color: #272727;
    margin-bottom: 4rem;
    text-align: center;
  }
  
  .contact-right form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .input-group {
    position: relative;
  }
  .field {
    width: 20rem;
    justify-content: space-evenly;
    background-color: transparent;
    border: none;
    border-bottom: .2rem dashed purple;
    margin: 0;
    padding: 0rem 0.5rem 0rem 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.6rem;
    color: black;
  }

  .input-group input {
    height: 2.5rem;
  }
  .input-group textarea{
    max-height: 7rem;
    max-width: 45rem;
  } 

  .field:focus{
    border-bottom-style: solid;
  }
  .input-group label {
  
    left: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1rem;
    color:black;
    text-transform:capitalize;
    pointer-events: none;
    transition: all .3s;
  }
   
  .input-label {
    bottom: 3rem;
  }
  .message{
    bottom: 6rem;
  }

  .field:focus ~ label {
    transform: translateY(-3rem);
    font-size: 1.2rem;
  }
  .submit-btn {
    width: 15rem;
    height: 3.5rem;
    background-color: chocolate;
    color: antiquewhite;
    border: none;
    margin-top: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 2rem;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: .2rem;
    cursor: pointer;
    text-shadow:0 0.1rem 0.3rem rgba(0, 0, 0, 0.5);
    box-shadow:0 0.1rem 0.3rem rgba(0, 0, 0, 0.3)
  }
  
  .footer {
    width: 100%;
    height: 8rem;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer-content {
    width: 60%;
    display: flex;
    justify-content: space-between;

  }
  .copyright  {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.6rem;
    color: bisque;
  }

.social-list a {
  margin: 0.6rem;

}

.social-list i {
  font-size: 2.5rem;
  color: bisque;
}
.scroll-btn {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 4rem;
  bottom: 4rem;
  width: 3.5rem;
  height: 3.5rem;
  background-color:darkorange;
  box-shadow: 0 0.1rem 0.6rem rgba(0, 0, 0, 0.2);
  border-radius: 0.4rem;
  color: aliceblue;
  font-size: 1rem;
}
@media (max-width: 1500px) {
  .card {
    width: 28rem;
  }
  .contact-wrapper {
    width: 60%;
    height: 35rem;
  }
  .footer-content{
    width: 70%;
  }
}

@media (max-width: 1400px) {
  .banner h1 {
    font-size: 6rem;
    line-height: 7rem;
  }
  .banner p {
    font-size: 3rem;
  }
  .banner button {
    width: 20rem;
    height: 5rem;
    font-size: 1.6rem; 
  }
  .menu-link {
    font-size: 3rem;
  }
}

@media (max-width: 1300px) {
  .team {
    padding-bottom: 3rem;
  }
  .cards-wrapper {
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
  }
  .card{
    margin-bottom: 6rem;
  }
  .contact-wrapper {
    width: 70%;
    height: 35rem;
  }
  .contact-heading {
    margin-bottom: 2rem;
  }
  .field {
    margin: 2rem 0;
  }
}

@media (max-width: 1000px) {
  .banner h1 {
    font-size: 5rem;
    line-height: 6rem;
  }
  .banner p {
    font-size: 2.5rem;
  }
  .banner button {
    width: 18rem;
    height: 4rem;
    font-size: 1.5rem;
  }
  .contact-left {
    width: 0;
  }
  .contact-right {
    width: 100%;
  }
  .field {
    width: 55rem;
  }

  .input-group textarea {
    max-width: 55rem;
  }
  .submit-btn {
    width: 45rem;
  }
  .footer-content {
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 50%;
  }

  .copyright {
    order: 1;
    margin-top: 3rem;

  }
}

@media (max-width: 700px) {
  .banner h1 {
    font-size: 4rem;
    line-height: 5rem;
  }
  .banner p {
    font-size: 2rem; 
  }

  .field {
    width: 35rem;
  }

  .input-group textarea {
    max-width: 35rem;
  }


  .submit-btn {
    width: 35rem;
  }
}

@media (max-width: 500px) {
   html {
    font-size: 45%;
   }


.sidebar {
  width: 100%;
  right: -100%;
}

.change .hamburger-menu {
  right: 38rem;
}


.footer {
  height: 18rem;
}

}